---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Kaitlin" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1> Hi, I'm Kaitlin.<br />I like to make cool things.</h1>
              <p class="lead">
                Experienced product manager. A team member and leader dedicated to learning new things, problem-solving, and building real connections. Let's chat!
              </p>
            </div>
            <a href="mailto:kaitlinwan@proton.me" class="button w-button">Contact</a>
          </main>
          <div class="projects-section">
          <!-- DevOps & Cloud -->
            <a href="/devops" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img src="./assets/database.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>cool skills</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                  </div>
                </div>
              </div>
            </a>
            <!-- Software Development -->
            <a href="/software-development" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img src="./assets/browser.svg" loading="lazy" alt="" class="projects-category-image" />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Software Development</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">Technologies &amp; tools</div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                    <div class="single-chip small-chip">Cool Skill</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>